.article-main-wrap{
    .article-card{
        box-shadow: 3px 2px 8px rgba(0,0,0,0.15) !important;
    border-radius: 20px;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0.5em;
    word-break: break-word;
    }
}